.env
.env.*
!.env.example
.git
.gitignore
node_modules
npm-debug.log
composer.phar
vendor
Dockerfile
docker-compose.yml
storage/framework/*
storage/logs/*
storage/app/*
public/build
bootstrap/cache/*
*.log
.DS_Store
.editorconfig
.phpunit.result.cache
